.quest{
    max-width: 700px;
    height: 400px;
    /*background-color: #1c4f5a;*/
    color: whitesmoke;
    background-image: linear-gradient(#111F2A, #1c4f50);
    border-radius: 15%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.question{
    color: whitesmoke;
    font-size: 18px;
    margin-top: 70px;
}

.answer{
    width: 400px;
    background-color: transparent;
    padding: 15px;
    margin-top: 25px;
    border: 4px solid #9B68F7;
    border-radius: 12px; 
    color: whitesmoke;
}

.answer:active {
    background-color: #9B68F7;
}

/*#submitButton{
    background-color:#9B68F7;
    padding: 12px;
    width: 130px;
    border-radius: 15px; 
    border: none;
    margin: 180px auto;
}*/

/*images*/

#img1{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -50px;
}

#img1 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*img 2*/

#img2{
    width: 150px;
    height: 80px;
    position: absolute;
    top: 150px;
    left: -135px;
}

#img2 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#img2 img:last-child{
    position: absolute;
    top: -50px;
    left: -45px;
}

/*circle*/

#circle{
    border: 5px solid #FF9E1B;
    border-radius: 60%;
    width: 120px;
    height: 120px;
    position: absolute;
    right: 20px;
    top: -10px;
}

#circle img {
    object-fit: cover;
    border-radius: 60%;
    width: 100%;
    height: 100%;
  
}

/*image3 */

#img3{
    width: 90px;
    height: 130px;
    margin: 0px auto;
    position: absolute;
    top: 550px;
    right: 150px;
}

#img3 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#img5{
    width: 90px;
    height: 130px;
    margin: 0px auto;
    position: absolute;
    top: 600px;
    left: 100px;
}

#img5 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#img5 img:last-child{
    position: absolute;
    top: -50px;
    left: -45px;
}

/*imagesLandscape*/

#imagesLandscape {
    position: absolute;
    top: 80px;
    left: -45px;
    width: 150px;
    height: 100px;
}

#imagesLandscape img:last-child{  
    object-fit: cover;
    border: 5px solid #18aff4;
    border-radius: 180px;
    width: 100%;
    height: 100%;
}


#imagesLandscape img:first-child{
    border: 5px solid #eaa00c;
    object-fit: cover;
    border-radius: 300px;
    width: 80%;
    height: 90%;
}

#finalBtn {
    display: block;
    margin: 0 auto;
    /*position: absolute;*/
    /*top: 700px;*/
    background-color: #9B68F7;
    text-align: center;
    padding: 10px 50px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10%;
}

.resultdiv {
    width: 300px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: space-between;
}

.par {
    color: whitesmoke;
    text-transform: uppercase;
}

.refresh{
    background-color: transparent; 
    border-radius: 100%;
    border: 2px solid whitesmoke ;
    color: whitesmoke;
}

.disapear {
    display: none;
}

.bgcolor{
    background-color: #9B68F7;  
}

/*responsive */

@media (max-width: 450px) {
    .answer{
    width: 300px;
    }

}

/*responsive*/

@media (max-width: 350px) {
    .answer{
    width: 200px;
    }

}



